.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  margin-right: 0px;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.list-column {
  width: fit-content !important;
}
p {
  font-size: 14px;
  margin: 6px;
}
.card-head {
  font-weight: bold;
  margin: 0 3px;
  color: #f85072;
}
.card-content {
  flex: 4;
}
.card-buttons {
  margin-left: 16px;
}

button {
  margin: 20px 5px;
  padding: 8px;
  width: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.update {
  background-color: rgb(114, 255, 101);
  border: none;
  color: rgb(44, 44, 44);
}

.update:hover {
  background-color: rgb(52, 255, 34);
}

.delete {
  background-color: rgb(248, 75, 75);
  border: none;
  color: #fff;
}

.delete:hover {
  background-color: rgb(255, 20, 20);
}

.show-panel-container {
  display: flex;
}

.edit-container {
  width: 300px;
}

.close {
  position: relative;
  top: 30px;
  left: 270px;
  font-size: 22px;
  cursor: pointer;
}
