.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  margin-right: 0px;
  border-radius: 12px;
  width: 100%;
  padding: 11px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.list-column {
  width: fit-content !important;
}
p {
  font-size: 13px;
  margin: 6px;
}
.card-head {
  font-weight: bold;
  margin: 0 4px;
  color: #f85072;
}
.card-content {
  flex: 4;
}
.card-buttons {
  margin-left: 15px;
}

button {
  margin: 22px 5px;
  padding: 9px;
  width: 50px;
  border-radius: 12px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.update {
  background-color: rgb(114, 255, 101);
  border: none;
  color: rgb(44, 44, 44);
}

.update:hover {
  background-color: rgb(52, 250, 34);
}

.delete {
  background-color: rgb(250, 75, 75);
  border: none;
  color: white;
}

.delete:hover {
  background-color: rgb(255, 20, 20);
}

.show-panel-container {
  display: flex;
}

.edit-container {
  width: 301px;
}

.close {
  position: relative;
  top: 30px;
  left: 270px;
  font-size: 21px;
  cursor: pointer;
}
