.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

p {
  font-size: 14px;
  margin: 6px;
}
.card-head {
  font-weight: bold;
  margin: 0 3px;
  color: #f85072;
}
.card-content {
  flex: 4;
}
.card-buttons {
  flex: 1;
  margin-left: 16px;
}

button {
  margin: 20px 0;
  padding: 8px;
  width: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.delete {
  background-color: rgb(248, 75, 75);
  border: none;
  color: #fff;
}

.delete:hover {
  background-color: rgb(255, 20, 20);
}
